# Project exclude paths
/.dart_tool/
/build/
/android/.idea/workspace.xml
/android/.idea/caches/build_file_checksums.ser
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Flutter_Plugins.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM_[Default_Changelist]/app_presentation.png
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM__Default_Changelist_.xml
/.idea/misc.xml
/.idea/vcs.xml
/.flutter-plugins
/.flutter-plugins-dependencies
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM_[Default_Changelist]/app_presentation.png
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM_[Default_Changelist]/shelved.patch
/.idea/workspace.xml
/android/app/upload-keystore.jks
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM_[Default_Changelist]/app_presentation.png
/.idea/shelf/Uncommitted_changes_before_Update_at_10_15_2021_1_37_PM_[Default_Changelist]/shelved.patch
